/* styles.css */
/* ============================================================ */
/* Alejandro Scaffa - CS5610 - Homework 2 */
/* ============================================================ */


/* ============================================================ */  
/* ============================================================ */
/* GLOBAL STYLES */
/* ============================================================ */  


html, body{
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*removed height bc parallax needs full height*/
  }

/* Adding the parallax image to the sides through a before pseudo element */
  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1; /* Sit behind everything */
    background-image: url("images/sunder-muthukumaran-unsplash.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.8;  */
  }

/* main wrapper to hold content and for footer to be at bottom */
main {
    flex:1;
}


/* ============================================================ */  
/* ============================================================ */
/* NAVIGATION BAR STYLES */
/* ============================================================ */


/* The header will be a pill like buttons header with a brand logo on the left hand side*/
header {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Sit above parallax */
}

/*Navigation bar flex container (brand to left, links to right)*/
nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/*Create a brand pseudo class for my initials - changed to PILL SHAPE*/
.brand {
    display: inline-block;
    padding: 5px 16px;
    /* this is the pill shape wiht 99999px */
    border-radius: 9999px;
    background: white;
    color: rgb(0, 162, 255);
    font-weight: 600;
    font-size: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/*Creating navigation pseudo class for the links list*/
.nav-list{
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0px;
    padding: 10px;
}

/*PSeudo class for the links thesemlves - THESE ARE THE PILLS */
.nav-list a {
    display: inline-block;
    padding: 8px 12px;
    /* this is the pill shape wiht 99999px */
    border-radius: 9999px;
    background: white;
    color: black;
    font-weight: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
/*Hover effect for the links*/
.nav-list a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* ============================================================ */  
/* ============================================================ */
/* PARALLAX STYLES */
/* ============================================================ */

/*Adding Parallax*/
.parallax {
    /*Create a stacking context for the dark overlay*/
    position: relative;
  /*Background image*/
    background-image: url("images/sunder-muthukumaran-unsplash.jpg");

    /*Set a specific height for the viewport, note the vh is for non explicit height */
    height: 60vh;

    /*Full bleed through width*/
    width: 100vw;
    /*These two lines are to center the image*/
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    /*The actual effect*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* parallax before pseudo-element class for dark overlay so the text is visible*/
.parallax::before {
    content: "";
    position: absolute;
    inset: 0;

    /* Sit above background but below content */
    z-index: 0;
}

/* Parallax content pseudo class - child container within parallax - centers text */
.parallax-content {
    /*sit above the dark overlay*/
    z-index: 1;
    height: 100%;
    /*Create a new stacking context*/
    position: relative;
    color: white;
    /*Centering text vertical and horizontal*/
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex; /* Use flexbox to center content */
    /*Stack text vertically*/
    flex-direction: column; 
    
}

/* Parallax Genereal text styles */
.parallax-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0rem;
    /*Shadow for visibility*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.parallax-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.parallax-content p {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.parallax-spacer{
    position: relative;
    /*Small height spacer*/
    height: 15vh;
    min-height: 120px;
    /*Full bleed through width*/
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    /*Background to be same as parallax and same effect*/
    background-image: url("images/sunder-muthukumaran-unsplash.jpg");
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-navigation{
    position: relative;
    /*Small height spacer*/
    height: 5vh;
    min-height: 60px;
    /*Full bleed through width*/
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    /*Background to be same as parallax and same effect*/
    background-image: url("images/sunder-muthukumaran-unsplash.jpg");
    background-attachment: fixed;   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Disabled parallax on phones*/
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


/* ============================================================ */
/* ============================================================ */
/*  SECTION STYLES */
/* ============================================================ */  

/* Section class to hold image and text side by side for non parallax sections */
.section{
    padding: 20px 50px;
    background: white;  
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Used when there is an image and text section title */
.section-title {
    font-size: 2rem;
    font-weight : bold;
    text-align: center;
    line-height: 1.3;
    margin: 0 0 20px; 
}
/* Grid container to hold image and text side by side */
.section__body{
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 20px;
    align-items: start;
}

/* Media block (use <figure>) - if not used in grid, it will be full width */
.section__media { margin: 0; }

/* Image styles within the media block */
.section__media img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: contain;
    border-radius: 8px;
    background: white;
    padding: 6px;
}


/* Optional caption under the image to give citations*/
.section__media figcaption {
    font-size: 0.8rem;
    color: #555;
    line-height: 1.4;
    margin-top: 8px;
  }

.section__text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: black;
}

/* Single column layout for sections without images */
.section__body--single { 
    grid-template-columns: 1fr; 
  }

/* Switch per image type (add one of these classes to the <img>) */
.section__media img.fit-contain { object-fit: contain; 
}  /* diagrams */
.section__media img.fit-cover   { object-fit: cover;   
}  /* portraits */


@media (max-width: 800px) {
    .section__body {
      grid-template-columns: 1fr;
    }
    .section__media img {
      height: auto;
      max-height: 320px;
    }
  }


  /* ============================================================ */  
/* ============================================================ */  
/* Publication list styles */
/* ============================================================ */  

.pub-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .pub + .pub {
/* Trick to add a space between publications */
    margin-top: 16px;   
  }
  
  .pub h3 {
    margin: 0 0 4px;
    font-size: 1.4rem;
  }

  .pub p {
    margin: 4px 0;
    font-size: 1rem;
  }

/* Icons for social media links */
.icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 8px;
}

.icon:hover {
    filter: brightness(0.8);
}
  
/* footer section styles */
.footer{
    background: transparent;  
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px 0;

}

/* ============================================================ */
/* ============================================================ */
/* GENERAL STYLES THAT ARE USED WHEN SECTION AND PARALLAX AREN'T*/
/* ============================================================ */  


h1 {
text-align: center;
margin-bottom: 12px;
}

h2, h3 {
margin: 24px 0 12px;
}

a {
    color: #065fd4;
    text-decoration: none;
    }
    
a:hover {
text-decoration: underline;
}

ul {
    margin-left: 1.25rem;
}

/* Very basic, allows images to be responsive */
img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ============================================================ */  
/* ============================================================ */  
/* CHANGES FOR MOBILE */
/* ============================================================ */


/*making the parallax scroll instead of fixed on mobile devices and smaller screens responsiveness*/
@media (max-width: 768px) {
    body::before {
        background-attachment: scroll;
        background-position: center top   
    }
    .parallax {
        background-attachment: scroll;
        height: 45vh;
        min-height: 280px;
    }

    /*I needed to make these way smaller for phones*/
    .parallax-content h1 {
        font-size: 2rem;
    }

    .parallax-content h2 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    /*Making sure the parallax spacer doesn't lag on mobile*/
    .parallax-spacer{
        background-attachment: scroll;
        height: 10vh;
        min-height: 80px;
    }
    .parallax-navigation{
        background-attachment: scroll;
        height: 5vh;
        min-height: 60px;
    }
}


/* Making the nav bar responsive on smaller screens but maintaining the pill shape */
@media (max-width: 600px) {
    .nav-list {
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 8px;
        padding: 10px 0;
        max-width: 100%;
    }

    .nav-list a {
        padding: 6px 10px;
        font-size: 0.9rem;
    }

    .brand {
        font-size: 1.2rem;
        padding: 4px 12px;
        margin-right: 8px;
    }

    /*this is the bit that actualy allows the horizonal scrolling*/
    .nav-list li{
        flex: 0 0 auto; 
    }
}